h1 {
    color:white;
}

body {
    overflow-x: hidden;
}

.green-box-top {
    background-color: #006937;
    height: 4vh;
    margin-bottom: 10px;
}

.green-box-bottom {
    background-color: #006937;
    height: 4vh;
    margin-top: 10px;  
}

.dlsu-logo {
    width: 70px;
    margin: 10px;
}

#sidebar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

.navtext {
    color: black;
    font-weight: bold;
    font-size: 15px
}

.green-box-bottom {
    background-color: #006937;
    height: 4vh;
    margin-top: 10px;
}

.round-rightelement {
    border-radius: 10px 10px 10px 10px;
}

#body-header{
    height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
    background-image: url("pictures/body-header.jpg");
    border-radius: 10px 0px 0px 10px;
}

.dlsu-gcoe{
    height: 90%;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

#header-col{
    color:white;
    padding-left: 30px;
}


#PEO-Header{ 
    background-color: #006937;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px; 
    color: white;
}



#PEO-Content{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}


#NUM{
    font-size: 800%;
}

.PEO-PIC{
    height: 60%;
    width: 60%;
    margin-left: 15%;
}

.text1{
    font-size: 110%;
}

