
h1 {
    color:white;
}

body {
    overflow-x: hidden;
}


.green-box-top {
    background-color: #006937;
    height: 4vh;
    margin-bottom: 10px;
}

.green-box-bottom {
    background-color: #006937;
    height: 4vh;
    margin-top: 10px;  
}

.dlsu-logo {
    width: 70px;
    margin: 10px;
}

#sidebar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

.navtext {
    color: black;
    font-weight: bold;
    font-size: 15px
}
#header-col{
    color:white;
    padding-left: 30px;
}

#body-content{
    width: 100%;
}

#titlepage {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 100%;

}

.green-box-bottom {
    background-color: #006937;
    height: 4vh;
    margin-top: 10px;
}

#body-header{
    width: 99%;
    height: 30vh;
    padding: 20px;
    margin: 10px;
    background-image: url("pictures/body-header.jpg");
    border-radius: 10px 0px 0px 10px;
}

.dlsu-gcoe{
    height: 90%;
    padding: 10px;
    margin: 10px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}

#body-picture{
    height: 40vh; 
    width: 99%; 
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px 0px 0px 10px;
}

.body-grad{
    height: 40vh;
    width: 100%;
    object-fit:cover;
    position: absolute;
}

#body-header2{
    width: 99%;
    height: 30vh;
    padding: 20px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 10px 0px 0px 10px;
}

#header-col2{
    color:#006937;
    padding-left: 30px;
    font-size: 350%;
    text-align: right;
}


#header-title{
    text-align: right; 
    color: green;
    font-size: 400%;
}

#DA-header{ 
    width: 95%;
}

#text-container1{
    background-color: #006937;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    width: 99%;
    text-align: justify; 
    color: white;
}



#DA-Content{  
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
    width: 95%; 
}


#text-container2{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    width: 99%;
}




.DA-PIC{
    height: 60%;
    width: 60%;
    margin-left: 15%;
}


