h1 {
    color:white;
}

body {
    overflow-x: hidden;
}


.green-box-top {
    background-color: #006937;
    height: 4vh;
    margin-bottom: 10px;
}

.green-box-bottom {
    background-color: #006937;
    height: 4vh;
    margin-top: 10px;  
}

.dlsu-logo {
    width: 70px;
    margin: 10px;
}

#sidebar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

.navtext {
    color: black;
    font-weight: bold;
    font-size: 15px
}

#body-content{
    width: 100%;
}

#titlepage {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    width: auto;

}

.green-box-bottom {
    background-color: #006937;
    height: 4vh;
    margin-top: 10px;
}

#body-header{
    width: 100%;
    height: 30vh;
    padding: 20px;
    margin: 10px;
    background-image: url("pictures/body-header.jpg");
    border-radius: 10px 0px 0px 10px;
}

.dlsu-gcoe{
    height: 90%;
    padding: 10px;
    margin: 10px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}

.header-text1{
    position: absolute;
    font-size: 250%;
    font-weight: bolder;
    color: white;
    left: 35%;
    top: 20%;
}

.header-text2{
    position: absolute;
    font-size: 120%;
    font-weight: normal;
    color: white;
    left: 35%;
    top: 27%;
   
}

.body-picture{
    height: 40vh; 
    width: 100%; 
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.body-circuit{
    height: 40vh;
    width: 90vw;
    object-fit:cover;
    position: absolute;
}

.vision{
    height: 40vh;  
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
}

.text-header1{
    text-align: right;
    width: 94%;
    font-family:Impact;
    font-size: 50px;
}

.text-container1{
    background-color: #006937;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    height: 18vh;
    width: 94%;
    text-align: justify;
    
}

.text1{
    font-size: 24px;
    color: white;
    
}

#header-col{
    color:white;
    padding-left: 30px;
}