h1 {
    color:white;
}

body {
    overflow-x: hidden;
}

.green-box-top {
    background-color: #006937;
    height: 4vh;
    margin-bottom: 10px;
}

.green-box-bottom {
    background-color: #006937;
    height: 4vh;
    margin-top: 10px;  
}

.dlsu-logo {
    width: 70px;
    margin: 10px;
}

#sidebar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

.navtext {
    color: black;
    font-weight: bold;
    font-size: 15px
}

.green-box-bottom {
    background-color: #006937;
    height: 4vh;
    margin-top: 10px;
}

.round-rightelement {
    border-radius: 10px 10px 10px 10px;
}

#body-header{
    height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
    background-image: url("pictures/body-header.jpg");
    border-radius: 10px 0px 0px 10px;
}

.dlsu-gcoe{
    height: 90%;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

#header-col{
    color:white;
    padding-left: 30px;
}

.outline-font {
    font-family: "Inter","serif";
    font-size: 6rem;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    line-height: 0;
}

#bigfont-container {
    margin-bottom: 20px;
    padding-top: 8vh;
    padding-bottom: 2.2vh;
}

#structure{ 
    background-color: #006937;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify; 
    color: white;
}


#header-col{
    color:white;
    padding-left: 30px;
}


#profile-table{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#profile{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify; 
    color: white;
}

.profile-picture{
    height: 70%;
    width: 70%;
    padding: 10px;
}

#profile-header{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; 
    color: white;
}





