body {
    background-color: #f0f0f0;
    overflow-x: hidden;
}

h1 {
    color:white;
}

.green-box-top {
    background-color: #006937;
    height: 4vh;
    margin-bottom: 10px;
}

.green-box-bottom {
    background-color: #006937;
    height: 4vh;
    margin-top: 10px;
}

.dlsu-logo {
    width: 70px;
    margin: 10px;
}

#sidebar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    width: 17vw;
}

.navtext {
    color: black;
    font-weight: bold;
    font-size: 15px
}

#titlepage {
    background-color: green;
}

.round-rightelement {
    border-radius: 10px 10px 10px 10px;
}
.round-all {
    border-radius: 10px 10px 10px 10px;
}

#body-header{
    height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
    background-image: url("Pictures/body-header.jpg");
    border-radius: 10px 0px 0px 10px;
}

.dlsu-gcoe{
    height: 24vh;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

#generic-headerpic-container{
    height: 40vh; 
    margin-bottom: 20px;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
}

#generic-green-header{ 
    background-color: #006937;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px; 
    color: white;
}

.generic-headerpic{
    height: 40vh;
    width: 100%;
    object-fit:cover;
}

#header-col{
    color:white;
    padding-left: 30px;
}

#generic-textbox{  
    background-color: #006937;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px 0px 0px 10px;
}

.outline-font {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 10rem;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    line-height: 0;
}

#outline-font-container {
    margin-bottom: 20px;
    padding-top: 8vh;
    padding-bottom: 2vh;
}

/*ELGA*/

#ELGA { 
    background-color: #006937;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify; 
    color: white;
}

#ELGA-Table{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify; 
    color: white;
}

/*PEO*/

#PEO-Content{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    padding-left: 40px;
    margin-bottom: 20px;
    color: white;
}

#NUM {
    font-size: 800%;
}

.PEO-PIC{
    height: 70%;
    width: 70%;
    margin-left: 15%;
}

.text1{
    font-size: 110%;
}

/*CM & SO*/
#tableHolder{  
    color: white;
    background-color: #383838;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: justify; 
}
#gen-table{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#green-container{
    color: white;
    background-color: #006937;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: justify; 
}
#white-spacer{
    color: white;
    background-color: #fdfdfd;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: justify; 
}


/*RAA*/
.RAA-PIC{
    height: 80%;
    width: 80%;
    margin-left: 15%;
    padding: 20px;
}

.outline-font-RAA {
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 72px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #006937;
}

.outline-font-RAA2 {
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 72px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.outline-font-RAA3 {
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

/*Degree Programs*/
.DP-outline-font {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 6rem;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    line-height: 0;
}

.DP-outline-font2 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    line-height: 0;
}

.DP-outline-font3 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    line-height: 0;
    margin-bottom: 20px;
}

#DP-bigfont-container {
    margin-bottom: 20px;
    padding-top: 8vh;
    padding-bottom: 0.5vh;
}

#body-picture{
    height: 40vh; 
    margin-bottom: 20px;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Pictures/body-pcb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*dept-struc*/
.dps {
    -webkit-text-stroke-color: #006937;
    font-size: 7rem;
}

#profile-table{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#profile{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify; 
    color: white;
}

.profile-picture{
    height: 70%;
    width: 70%;
    padding: 10px;
}

#profile-header{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; 
    color: white;
}

.profile-link{
    text-decoration: none;

}



/*Community Engagement and Linkages*/
.com1 {
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: green;
    line-height: 1.2;
}
.com2 {
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    line-height: 1;
}

.com3 {
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    line-height: 1;
}


#com-Header{ 
    background-color: #006937;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px; 
    color: white;
}

#com-description{ 
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px; 
    color: black;
}

#com-Content{  
    background-color: whitesmoke;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px; 
    color: white;
}

.COM-PIC{
    height: 90%;
    width: 90%;
    margin-left: 15%;
    padding: 20px;
}

/* Laboratory Facilities */
.lf2 {
    line-height: 1.5;
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #006937;
}

.lab-bigfont-margin {
    padding: 10px;
}

.lab-container {
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    margin-bottom: 60px;
    background-color: b;
}

.lab{
    height: 35%;
    width: 35%;
    padding: 20px;
    padding-left: 60px;
    margin-top: 0px;
}

.lab1{
    height: 50%;
    width: 50%;
    padding: 20px;
    padding-left: 60px;
    margin-top: 0px;
}

#generic-header-2{
    background-color: #383838;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: justify; 
    color: white;
}

#generic-textbox-lab{  
    background-color: #f0f0f0;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px 0px 0px 10px;
}

/*Faculty Profile*/
#profile-table{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#profile{  
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify; 
    color: white;
}

.profile-picture{
    height: 70%;
    width: 70%;
    padding: 10px;
}

#profile-header{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; 
    color: white;
}

.profile-text {
    color: green;
    font-weight: bold;
    font-size: 15px
}

.profile-text2 {
    color: white;
}



.fp {
    line-height: 1.5;
    font-size: 10rem;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #006937;
}

/*Alumni and Board of Advisers*/

.alumni{
    font-size: 6rem;
    -webkit-text-stroke-color: #006937;
    
}

/*Research and Publications*/
#Research-Table{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding-top: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-align: justify; 
    color: white;
}

/*Continueing Professional Development*/
#CPD-Table{  
    background-color: #393939;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify; 
    color: white;
}

/*Student Organizations*/
.SO-PIC{
    height: 70%;
    width: 70%;
    padding: 10px;
}



